html, body {
  margin: 0;
  height: 100%;
  background-color: #203769;
}

header h1 {
  font-size: 5.5vmax;
  margin-left: 10%;
  color: #f3e3b2;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
  max-width: 90vw;
}

#dice {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

header {
  background-color: #203769;
  padding: 0;
  height: 100px;
  display:flex;
  align-items: center;
}

#navBar {
  height: 75px;
  width: auto;
  display: flex;
  justify-content: center;
  position:sticky;
  top:0;
}

#navBar button {
  height: 100%;
  width: 25vw;
  font-weight: bolder;
  font-size: 2vmax;
  background-color: #D2C89B;
  color: #203769;
  border-style: hidden;
  overflow-wrap: break-word;
}

#navBar button:hover{
  cursor: pointer;
  background-color: #a8a07a;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D2C89B;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color:#203769;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#reviewList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #203769;
}

#reviewCard {
  min-width: auto;
  max-width: 500px;
  min-height: 500px;
  border: solid;
  border-radius: 3%;
  border-width: 5px;
  border-color: #298AA9;
  background-color: #43799C;
  margin: 15px;
}

#reviewCard h2{
  color: black;
  font-size: 150%;
  height: 30px;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-color: #203769;
}

#reviewCard p{
  color: wheat;
  font-size: 100%;
}

#reviewCard img {
 height: 150px;
 width: 150px;
}

#reviewCard #reviewBody {
  height: 190px;
  display:table;
  width: 100%;
}

#reviewImg {
  display:flex;
  justify-content: center;
}

#reviewCard #votes {
  margin-left: 60%;
  display:inline;
}

#reviewCard #reviewComments {
  display:inline;
}

#singleReview p {
  max-width: 1000px;
  color: wheat;
  padding: 15px;
}

#singleReview article {
  font-weight: bolder;
  margin: 10px;
  color: black;
  font-size: 150%;
  height: 30px;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-color: #203769;
}

#singleReview {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #43799C;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #203769;
}

#singleReview img {
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 100%;
 }

a {
  text-decoration: none;
}

#comments {
  background-color: #D2C89B;
  color: #203769;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#comments h2 {
  color: black;
  padding-left: 10vw;
  border-bottom: solid;
  border-color:#43799C;;
}

#commentUpvote{
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

#commentDownvote {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

#commentVoteError {
  color:darkred;
}


#comment {
  padding-left: 3%;
  border-bottom: solid;
  border-color:#43799C;
  text-align: center;
}

#commentVotes {
  display:inline
}

#commentAuthor {
  display:inline
}

date {
  color:#242e4571
}

#upvote{
    height: 15px;
    width: 15px;
}

#downvote {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

#singleReview button img {
  fill-opacity: 0;
}

#reviewVotes {
  display:inline;
}

#singleReview #voteError {
  display:inline;
  color:darkred;
}

#users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #203769;
}

#userCard {
  height:300px;
  border: solid;
  border-radius: 3%;
  border-width: 5px;
  border-color: #298AA9;
  background-color: #43799C;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#users p {
  color: black;
}

#users img {
  height: 200px;
  width:80%;
}

#postCommentForm {
  /* border-top: solid;
  border-color: #298AA9;
  border-top-width: 10px;
  background-color: #43799C; */
  display: flex;
  justify-content: center;
}

#postCommentText {
  width: 70%;
  max-width: 800px;
  height: 15vh;
  max-height: 350px;
  background-color: #D2C89B;
  border: solid;
  border-width: 3px;
  border-color: #203769;
  color:black;
}

#postCommentButton {
  background-color: #203769;
  border-radius: 5%;
  height: 8vh;
  margin-top: 3.5vh;
  margin-left: 10px;
  color: wheat;
  font-weight: bold;
}

#postCommentButton:hover {
  cursor: pointer;
  background-color: #142445;
}

#postCommentLogin {
  border-top: solid;
  border-color: #298AA9;
  border-top-width: 10px;
  background-color: #43799C;
  color: wheat;
  font-size:larger;
  text-align: center;
}

#queryBar {
  background-color:#43799C;
  border: solid;
  border-color: #298AA9;
  text-align: center;
}

#sortBySelector {
  display: inline;
}

#orderSelector {
  display: inline
}

#sortBy {
  background-color: wheat;
  color: #203769;
  font-weight: bold;
  margin-right: 10px;
}

#order {
  background-color: wheat;
  color: #203769;
  font-weight: bold;
}

#sortBy option{
  background-color: wheat;
  color: #203769;
  font-weight: bold;
}

#order option{
  background-color: wheat;
  color: #203769;
  font-weight: bold;
}

#sortBy:hover {
  cursor: pointer;
}

#order:hover {
  cursor: pointer;
}

#postCommentErrorButton {
  background-color: darkred;
  border-radius: 5%;
  height: 8vh;
  margin-top: 3.5vh;
  margin-left: 10px;
  color: wheat;
  font-weight: bold;
}

#navBar a {
  height: 100%;
  width: 25vw;
  font-weight: bolder;
  font-size: 3vmin;
  background-color: #D2C89B;
  color: #203769;
  border-style: hidden;
  overflow-wrap: break-word;
  overflow: hidden;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 70px; 
}

#navBar a:hover{
  cursor: pointer;
  background-color: #a8a07a;
}

#deleteComment {
  background-color: darkred;
  color: white;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 20%;
}

#deleteComment:disabled {
  cursor:wait;
}

#errorDelete {
  color:darkred
}

#postCommentButton:disabled {
  cursor:wait;
}

#postCommentText:disabled {
  cursor:wait;
}

.errorMsg{
  color:red;
  text-align: center;
  font-size:xx-large;
}

.profilePage{
  text-align: center;
  color:wheat;
}

.profilePage img {
  max-width: 75vw
}

#emptyComment {
  text-align: center;
  color: wheat;
  background-color:#43799C;
  margin-top: 10px;
  padding: 0;
  font-weight: bold;
}

#postComment {
  border-top: solid;
  border-color:#203769;
  border-top-width: 10px;
  background-color: #43799C;
}

#pagination {
  text-align: center;

}

.paginationButton {
  background-color:#203769;
  color: wheat;
  font-size:large;
  font-weight: bolder;
  margin:2px;
}

.reviewPaginationButton {
  background-color:wheat;
  color: #203769;
  font-size:large;
  font-weight: bolder;
  margin:5px;
}