header h1 {
  font-size: 50px;
  margin-left: 10%;
  color: #f3e3b2;
  margin-top: 0;
  margin-bottom: 0;
  
}

header {
  background-color: #203769;
  padding: 0;
  height: 100px;
  display:flex;
  align-items: center;
}

#navBar {
  height: 75px;
  width: auto;
  display: flex;
  justify-content: center;
}

#navBar button {
  height: 100%;
  width: 25vw;
  font-weight: bolder;
  font-size: 2vmax;
  background-color: #D2C89B;
  color: #203769;
  border-style: hidden;
  overflow-wrap: break-word;
}

#navBar button:hover{
  cursor: pointer;
  background-color: #a8a07a;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D2C89B;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color:#203769;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #a8a07a;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#reviewList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #203769;
}

#reviewCard {
  width: 75vw;
  max-width: 500px;
  height: 500px;
  border: solid;
  border-radius: 3%;
  border-width: 5px;
  border-color: #298AA9;
  background-color: #43799C;
  margin: 15px;
}

#reviewCard h2{
  color: black;
  font-size: 150%;
  height: 30px;
  overflow: hidden;
}

#reviewCard p{
  color: wheat;
  font-size: 100%;
}

#reviewCard img {
 height: 150px;
 width: 150px;
}

#reviewCard #reviewBody {
  height: 190px;
  overflow: hidden;
}

#reviewImg {
  display:flex;
  justify-content: center;
}



